/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/********************************************************************/
body{
    font-family: "ArialMT";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.image_container{
    height: auto;
    width: 100%;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
}
.header{
    background-color: #445162;
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_h1{
        font-size: 60px;
        color: #ffffff;
    }
    &_list{
        margin-top: 40px;
    }
    &_list>li{
        font-size: 20px;
        line-height: 36px;
        color: #ffffff;
    }
    &_list>li::before{
        content: '';
        display: inline-block;
        background-image: url(./img/check_icon.png);
        width: 25px;
        height: 19px;
        margin-right: 10px;
    }
    &_right {
        width: 470px;
        height: 215px;
        background-color: #ffffff;
      }
    &_right>div>img{
        max-width: 470px;
        height: auto;
    }  
}
/********************************************************************/
.aboute{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_h2{
        font-size: 30px;
        line-height: 36px;
        color: #445161;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    &_text{
        margin-top: 20px;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        max-width: 655px;
    }
    &_right{
        margin-top: 50px;
        width: 430px;
        height: 245px;
        background-color: #445161;
    }
    margin-bottom: 50px;
}
/********************************************************************/
